[Download Dataset](https://www.kaggle.com/kaggle/sf-salaries)

In [ ]:
import pandas as pd
import csv

In [ ]:
data =open("C:/Users/SIDDHIKA/Downloads/Salaries.csv")
data =pd.read_csv(data,dtype='unicode')
print(data)

In [ ]:
df=pd.DataFrame(data)
df

### 1.Display Top 10 Rows of The Dataset

In [ ]:
df.head(10)

### 2. Check Last 10 Rows of The Dataset

In [ ]:
df.tail(10)

### 3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [ ]:
shp=df.shape
print("Number of rows" ,shp[0] )
print("Number of columns" ,shp[1] )

### 4. Getting Information About Our Dataset Like Total Number Rows, 
### Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [ ]:
df.info()

### 5.Check Null Values In The Dataset

In [ ]:
df.isnull().sum()

### 6. Drop ID, Notes, Agency and Status Columns

In [ ]:
df.columns

In [ ]:
df=df.drop(['Id','Notes','Agency','Status'],axis=1)

In [ ]:
df

### 7. Get Overall Statistics About The Dataframe

In [ ]:
df.describe(include='all')

### 8. Find Occurrence of The Employee Names  (Top 5)

In [ ]:
df['EmployeeName'].value_counts().head()

### 9. Find The Number of Unique Job Titles

In [ ]:
df['JobTitle'].nunique()

### 10. Total Number of Job Titles Contain Captain

In [ ]:
len(df[df['JobTitle'].str.contains('Captain',case=False)])

### 11. Display All the Employee Names From Fire Department

In [ ]:
df[df['JobTitle'].str.contains('fire',case=False)]['EmployeeName']

### 12. Find Minimum, Maximum and Average BasePay

In [ ]:
df['BasePay'].describe()

### 13. Replace 'Not Provided' in EmployeeName' Column to NaN

In [ ]:
import numpy as np
df['EmployeeName']=df['EmployeeName'].replace('Not Provided',np.nan)
df['EmployeeName']

### 14. Drop The Rows Having 5 Missing Values

In [ ]:
df.isnull()

In [ ]:
df.drop(df[df.isnull().sum(axis=1)==4].index,axis=0,inplace=True)

### 15. Find Job Title of ALBERT PARDINI

In [ ]:
df[df['EmployeeName']=='ALBERT PARDINI']['JobTitle']

### 16. How Much ALBERT PARDINI Make (Include Benefits) ?

In [ ]:
df[df['EmployeeName']=='ALBERT PARDINI']['TotalPayBenefits']

### 17. Display Name of The Person Having The Highest BasePay

In [ ]:
df[df['BasePay'].max()]['EmployeeName']

### 18. Find Average BasePay of All Employee Per Year

In [ ]:
df.groupby('Year').mean()['BasePay']

### 19. Find Average BasePay of All Employee Per JobTitle

In [ ]:
df.groupby('JobTitle').mean()['BasePay']

### 20. Find Average BasePay of Employee Having Job Title ACCOUNTANT

In [ ]:
df[df['JobTitle']=='ACCOUNTANT'].mean()['BasePay']

### 21. Find Top 5 Most Common Jobs

In [ ]:
df['JobTitle'].value_counts().head()